body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
}



.container {
    display: flex;
    max-width: 900px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Sedans,
.Luxury,
.SUVs {
    width: 300px;
    max-height: 55vh;
    padding: 45px;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.3rem;
}

.Sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;

}

.SUVs {
    background-color: hsl(184, 100%, 22%);
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

button {
    border: 2px solid white;
    width: 135px;
    height: 45px;
    border-radius: 25px;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.Sedans button {
    color: hsl(31, 77%, 52%);
    font-weight: bold;
}

.SUVs button {
    color: hsl(184, 100%, 22%);
    font-weight: bold;
}

.Luxury button {
    color: hsl(179, 100%, 13%);
    font-weight: bold;
}

.Sedans button:hover {
    background-color: transparent;
    color: white;
}

.SUVs button:hover {
    background-color: transparent;
    color: white;
}

.Luxury button:hover {
    background-color: transparent;
    color: white;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    padding: 0;
    margin-bottom: 70px;
}



@media (max-width: 500px) {

    .container {
        flex-direction: column;
        margin: 35px;
    }

    .Sedans {
        border-radius: 10px 10px 0px 0px;
    }

    .Luxury {

        border-radius: 0px 0px 10px 10px;
    }

    p {
        margin-bottom: 30px;
    }

}